<% content_for :main_content do %>
<div class="row forum">
<h2> Forums </h2>
 <div class="module">
    <div class="module_header">
     <% if current_user.has_role? :moderator %>
      <span class="controls right smaller">
        <%= link_to "New Forum", new_forum_path, :class => 'btn btn-primary' %>
      </span>
      <% end %>
    </div>
    <% if @forums.size > 0 %>
    <div>
      <table class="table table-bordered table-condensed">
        <thead class="smaller">
          <th colspan="2" align="left">Forum</th>
          <th>Topics</th>
          <th>Posts</th>
          <th class="last_post" align="left">Last Post</th>
        </thead>
        <tbody>
          <% @forums.each do |forum| %>
        </tbody>
        <tr>
          <td class="center-padded-table"><i class="img-circle icon-th-list"></i></td>
          <td class="description">
            <%= link_to forum.title, forum_path(forum) %><br />
            <span class="smaller"><%= forum.description %></span><br />
          </td>
          <td class="center-padded-table"><%= forum.topics.size %></td>
          <td class="center-padded-table"><%= forum.posts.size - forum.topics.size %></td>
          <td class="last_post smaller">
            <%= forum.formatted_last_created_post %>            
          </td>
         <% if current_user.has_role? :moderator %>
          <td>
           <%= link_to "Edit Forum", edit_forum_path(forum), :class => 'btn btn-primary' %>
           <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              forum_path(forum),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
           </td>
         <% end %>
        </tr>
        <% end %>
      </table>
    </div>
    <% else %>
      <div class="module_body">There are currently no forums.</div>
    <% end %>
  </div>
</div>

<% end %>
