<%= content_for :main_content do %>
    <div class="col-md-12">
        <div class="row">
        <% if current_user.has_role? :moderator %>
           <h3><%= button_to 'New Article', new_article_path,html_options = {:method => 'get',:class => "btn btn-mini btn-primary"} %></h3>
        <% end %>
            <br/>
        <% @articles.each do |article| %>
                <div class="col-md-4">
                  <div class="article">
                    <div class="article-header">
                        <h3><%= link_to article.title, article %></h3>
                        <hr/>
                    </div>

                    <br />
                    
                    <span class='article-info'>
                        <%= article.user.username %>
                        <br/>
                        <%= article.date %>
                        <br/>
                        <br/>
                        <%= article.description %>
                        <br/> 
                    </span> 
                    <% if current_user.has_role? :moderator %>
                            <%= button_to 'Edit', edit_article_path(article),
                                html_options = {:method => 'get',:class => "btn btn-mini btn-primary"}  %>
                            <%= button_to "Delete", article,  html_options = {:class => "btn btn-mini btn-danger",:confirm => "Are you sure?",:method => :delete} %>
                    <% end %>
                    </div>
                  </div>
        <% end %>
       </div>
    </div>
<% end %>
