<%= content_for :main_content do %>
    <div class="col-md-12">
        <div class="row">
        <% @articles.each do |article| %>
                <div class="col-md-4">
                  <div class="article">
                    <div class="article-header">
                        <h3><%= link_to article.title, article %></h3>
                        <hr/>
                    </div>

                    <br />
                    
                    <span class='article-info'>
                        <%= article.author %>
                        <br/>
                        <%= article.date %>
                        <br/>
                        <br/>
                        <%= article.description %>
                        <br/> 
                    </span> 
                    <% if current_user.has_role? :moderator %>
                            <%= link_to 'Edit', edit_article_path(article) %>
                            <%= button_to "Delete", article,  html_options = {:class => "btn btn-mini btn-danger",:confirm => "Are you sure?",:method => :delete} %>
                    <% end %>
                    </div>
                  </div>
        <% end %>

        <br />

            <% if current_user.has_role? :moderator %>
              <span class="bottom-area">
                <%= link_to 'New Article', new_article_path %>
              </span>
            <% end %>
       </div>
    </div>
<% end %>
