<%= content_for :main_content do %>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Date:</b>
  <%= @article.date %>
</p>

<p>
  <b>Author:</b>
  <%= @article.user.username %>
</p>

<p>
  <%= image_tag @article.photo.url, html_options = { :class=>'article-avatar'} %>
</p>

<p>
  <b>Description:</b>
  <%= @article.description %>
</p>

<%= link_to @article.flag_string, {:controller => 'articles', :action => 'update', :article => {:flag => @article.inverted_flag }}, html_options = {:class => 'btn btn-mini', :method => :put } %>

<br/>

<%= @article.formatted_posts(current_user) %>

<div class="module">
    <div class="module_body">
      <%= form_for [@article, @post] do |f| %>
      <% if @post.errors.any? %>
        <% flash.now[:error] = @post.errors.full_messages.join(', and ') %>
      <% end %>
        <%= f.label :body %><br />
        <%= f.text_area :body, :cols => 60, :rows => 15 %>
    </div>
    <div class="module_footer">
     <%= f.submit "submit", :class => "btn" %>
    </div>
    <% end %>
  </div>



<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<% end %>