<% content_for :main_content do %>

<%= form_for [@forum, @topic] do |f| %>
<% if @topic.errors.any? %>
  <% flash.now[:error] = @topic.errors.full_messages.join(', and ') %>
<% end %>
<div class="module">
  <h3><%= action_name.humanize %> Topic</h3>
    <div class="module_body">
      <fieldset>
        <%= f.label :title %><br />
        <%= f.text_field :title, :size => 75 %>
      </fieldset> 
      <% unless @topic.id %>
      <fieldset>
        <%= f.label :body %><br />
        <%= f.text_area :body, :cols => 60, :rows => 15 %>
      </fieldset>
    </div>
    <% end %>
    <div class="module_footer">
        <%= f.submit "submit", :class => "btn" %><%= link_to "cancel", (@topic.nil? ?  @topic : @forum), html_options = { :class => "btn"} %>
    </div>
  </div>
<% end %>

<% end %>