<% content_for :main_content do %>

<%= form_for [@forum, @topic] do |f| %>
  <%= @topic.formatted_errors %>
<div class="module">
  <h3><%= action_name.humanize %> Topic</h3>
    <div class="module_body">
      <fieldset>
        <%= f.label :title %><br />
        <%= f.text_field :title, :size => 75 %>
      </fieldset> 
      <% unless @topic.id %>
      <fieldset>
        <%= f.label :body %><br />
        <%= f.text_area :body, :cols => 60, :rows => 15 %>
      </fieldset>
    </div>
    <% end %>
    <div class="module_footer">
        <%= f.submit "Submit", :class => "btn" %><%= link_to "Cancel", :back, html_options = { :class => "btn"} %>
    </div>
  </div>
<% end %>

<% end %>