<% content_for :main_content do %>
<div class="row forum">
  <div class="right controls"><%= link_to "Back to Forum", forum_path(@topic.forum) %></div>
  <div class="module">
    <div class="module_header">
      <h2> <%= @topic.title %> </h2>
      <span class="right controls">
        <%= link_to "Edit", edit_topic_path(@topic) %>
        <%= link_to "Reply", new_topic_post_path(@topic) %>
        <%= link_to @topic.sticky_string, {:controller => 'topics', :action => 'update', :topic => {:sticky => @topic.sticky ? "false" : "true" }}, html_options = { :method => :put }
            %>
        <% if current_user.has_role? :moderator %>
        <%= link_to @topic.locked_string, {:controller => 'topics', :action => 'update', :topic => {:locked => !@topic.locked } },
            html_options = {:method => :put}
            %>
        <%= button_to "Delete", @topic, html_options = {:class => "btn btn-mini btn-danger",:confirm => "Are you sure?", :method => :delete} %>
        <% end %>
      </span>
    </div>
    <div>
      <table class="table table-bordered table-condensed">
        <% @topic.posts.each do |post| %>
        <thead>
            <th class="post_author" rowspan="2">
              <span class="avatar"><!-- This space reserved for Avatar --></span>
              <span class="name"><%= post.user.username %></span>
              <span class="right controls">
                <div class="btn-group button-group">
                  <button type="button" class="btn btn-primary"> <%= link_to post.flagged_string, {:controller => 'posts', :action => 'update', :post => {:flag => !post.flag }}, html_options = {:method => :put } %></button>
                  <button type="button" class="btn btn-primary"> <%= link_to "Reply", new_post_post_path(post) %></button>
                  <button type="button" class="btn btn-primary"> <%= link_to "Quote", new_topic_post_path(@topic, :quote => post) %></button>
                  </div>
                <% if current_user.posts.include?(post.model) %>
                    <button type="button" class="btn btn-primary"><%= link_to "Edit", edit_post_path(post)%> </button>
                  <%= button_to "Delete", post, html_options = {:class => "btn btn-mini btn-danger",:confirm => "Are you sure?",:method => :delete} %>
                <% end %>
              </span>
              <br/>
              <span class="left post_date smaller"><%= post.created_at %></span>
            </th>
        </thead>
        <tbody>
          <tr>
            <td class="post_body">
              <%= simple_format(auto_link(post.body)) %>
            </td>
          </tr>
        </tbody>
          <%= render_posts post %>
        <% end %>
      </table>
    </div>
  </div>
</div>
<% end %>