    <nav id="navbar" class="navbar navbar-inverse" role="navigation" class="navbar navbar-inverse">
      <div class="nav_container">
         <ul class="nav navbar-nav clearfix">
          <li class="active margin-left-20"><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Recruitment', recruitment_path %></li>
          <li><%= link_to 'Members', bios_path %></li>
          <li><%= link_to 'Alumni', alumni_path %></li>

        <% if user_signed_in? %>
            <li><%= link_to 'Dashboard', dashboard_path %></li>
            <li>
              <%= link_to 'Forum', forums_path %>
            </li>
            <li>
              <%= link_to 'News', articles_path %>
            </li>
            <li><%= link_to 'Calendar', calendar_path %> </li>
          </ul>
           <ul id="userGravitar" class="nav navbar-nav clearfix pull-right">
             <%= link_to image_tag(Gravatar.new(current_user.email).image_url, :class => "avatar"), "http://en.gravatar.com/" %>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.username %>
                </a>
                <ul class="dropdown-menu">
                  <li role="presentation">
                    <%= link_to 'Profile', edit_user_registration_path %>
                  </li>
                  <li role="presentation">
                    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
                  </li>
                </ul>
              </li>
          <% else %>

            </ul>
            <ul class="nav pull-right">
            <li><%= link_to 'Login', new_user_session_path %></li>

          <% end %>

        </ul>
      </div>
   </nav>

    <script type="text/javascript">
      //TODO: figure out how to get rid of this hack
        $.ready(function(){(".dropdown-toggle").dropdown();});
    </script>