<% content_for :main_content do %>
	<div id="alumni">
		<h2> Recent Alumni </h2>
		<hr />
	 <%= image_tag "alumni1.jpg", height: 100, width: 100 %>
	 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam magna diam, euismod ut porta vitae, eleifend ut sapien. Vestibulum non faucibus nulla. Etiam luctus, sapien nec elementum interdum, lorem urna congue felis, sit amet varius arcu nisl sit amet mi. Quisque eu erat pellentesque ipsum vulputate pellentesque eu non enim. Phasellus adipiscing orci non mauris commodo adipiscing sed vel leo. Donec a rhoncus diam. Etiam fringilla semper auctor. Etiam sit amet diam semper libero aliquet malesuada ut non quam. Donec sit amet nibh varius, ornare orci ut, consectetur nulla. Nunc cursus risus et justo pulvinar, luctus vulputate nibh mollis. Integer justo purus, imperdiet ut massa et, condimentum malesuada risus. Phasellus elementum egestas urna, at ultrices sem pellentesque tempor. Nunc ullamcorper ipsum et congue pulvinar.
<br />
	 <%= image_tag "alumni2.jpg", height: 100, width: 100 %>
	 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam magna diam, euismod ut porta vitae, eleifend ut sapien. Vestibulum non faucibus nulla. Etiam luctus, sapien nec elementum interdum, lorem urna congue felis, sit amet varius arcu nisl sit amet mi. Quisque eu erat pellentesque ipsum vulputate pellentesque eu non enim. Phasellus adipiscing orci non mauris commodo adipiscing sed vel leo. Donec a rhoncus diam. Etiam fringilla semper auctor. Etiam sit amet diam semper libero aliquet malesuada ut non quam. Donec sit amet nibh varius, ornare orci ut, consectetur nulla. Nunc cursus risus et justo pulvinar, luctus vulputate nibh mollis. Integer justo purus, imperdiet ut massa et, condimentum malesuada risus. Phasellus elementum egestas urna, at ultrices sem pellentesque tempor. Nunc ullamcorper ipsum et congue pulvinar.
<br />

<hr />

<h2> Alumni Directory </h2>

<h3> Name - #1000 </h3>
<h4> facebook, twitter, linkedin links here </h4>
 <%= image_tag "alumni1.jpg", height: 100, width: 100 %>
	 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam magna diam, euismod ut porta vitae, eleifend ut sapien. Vestibulum non faucibus nulla. Etiam luctus, sapien nec elementum interdum, lorem urna congue felis, sit amet varius arcu nisl sit amet mi. Quisque eu erat pellentesque ipsum vulputate pellentesque eu non enim. Phasellus adipiscing orci non mauris commodo adipiscing sed vel leo. Donec a rhoncus diam. Etiam fringilla semper auctor. Etiam sit amet diam semper libero aliquet malesuada ut non quam. Donec sit amet nibh varius, ornare orci ut, consectetur nulla. Nunc cursus risus et justo pulvinar, luctus vulputate nibh mollis. Integer justo purus, imperdiet ut massa et, condimentum malesuada risus. Phasellus elementum egestas urna, at ultrices sem pellentesque tempor. Nunc ullamcorper ipsum et congue pulvinar.
<br />
	</div>
<% end %>

<% content_for :side_content do %>
	<script src="https://checkout.stripe.com/checkout.js"></script>

	<div class="form-row">
	  	<label>
			<span>Amount - $</span>
		  	<input type="text" size="10" id="pay-ammount"/>
	 	</label>
	</div>
	<button id="customButton" class="btn btn-primary">Donate</button>



	<script>
	  var handler = StripeCheckout.configure({
	    key: '<%= ENV["STRIPE_PUBLISH_KEY"] %>',
	    image: '<%= asset_path "fullbadge.png" %>',
	    token: function(token, args) {
	      // Use the token to create the charge with a server-side script.
	      // You can access the token ID with `token.id`
	    }
	  });

	  document.getElementById('customButton').addEventListener('click', function(e) {
	    // Open Checkout with further options
	    handler.open({
	      name: 'Sigma Nu - Epsilon Lambda',
	      description: 'Donation',
	      amount: $("#pay-ammount").val() * 100
	    });
	    e.preventDefault();
	  });
	</script>
<% end %>