<% content_for :main_content do %>
<div class="row">
  <div class="module">
    <h3><%= action_name.humanize %> Category</h3>
      <div class="module_body">
        <%= form_for @category do |f| %>
          <fieldset>
            <% if @category.errors.any? %>
              <% flash.now[:error] = @category.errors.full_messages.join(', and ') %>
            <% end %>
              <%= f.label :title %>
              <small style="display:block;">(Required)</small>
              <%= f.text_field :title, :size => 75 %>
                <%= f.label :position %>
                <%= f.text_field :position %>
          </fieldset>
          
          <fieldset>
              <%= f.check_box :state %>
              <%= f.label :state %>
          </fieldset>
       </div>

        <footer>
            <%= f.submit "submit", :class => "btn" %>
            <%= link_to "cancel", forums_path, html_options = {:class => "btn"} %>
        </footer>
      <% end %>
    </div>
  </div>
<% end %>
