<% content_for :main_content do %>
<div class="row forum">
  <div class="right controls"><%= link_to "New Forum Category", new_category_path, :class => "btn" %></div>
  <% @categories.each do |category| %>
    <div class="module">
      <div class="module_header">
        <h2> <%= category.title %> </h2>
        <span class="controls right smaller">
          <%= link_to "New Forum", new_forum_path, :class => "btn btn-primary" %>
          <%= link_to "Edit Category", edit_category_path(category), :class => "btn btn-primary" %>
          <%= link_to "Delete Category", category_path(category), :confirm => "Are you sure you want to delete this category?", :method => :delete, :class => "btn btn-danger" %>
        </span>
      </div>
      <% if category.forums.size > 0 %>
      <div>
        <table class="table table-bordered table-condensed">
          <thead class="smaller">
            <th colspan="2" align="left">Forum</th>
            <th class="center">Topics</th>
            <th class="center">Posts</th>
            <th class="last_post" align="left">Last Post</th>
          </thead>
          <tbody>
          <% category.forums.each do |forum| %>
          <tr>
            <td class="center-padded-table"><i class="img-circle icon-th-list"></i></td>
            <td class="description">
              <%= link_to forum.title, forum_path(forum) %><br />
              <span class="smaller"><%= forum.description %></span><br />
            </td>
            <td class="center-padded-table"><%= forum.topics.size %></td>
            <td class="center-padded-table"><%= forum.posts.size - forum.topics.size %></td>
            <td class="last_post smaller">
              <% if forum.posts.size > 0 %>
                <%= forum.posts.last.created_at %><br />
                <%= forum.posts.last.user.username %>
              <% else %>
                No Topics / Posts
              <% end %>
            </td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
        <div class="module_body">There are currently no forums.</div>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
