<!DOCTYPE html>
<html>
<head>
  <title>Sigma Nu - Epsilon Lambda</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<%= render :partial => "shared/navbar" %>
 <div class="container">
    <div class="row">
       <div class="col-md-12">
        <% flash.each do |key, value| %>
           <%= content_tag(:div, value, class: "alert alert-info") %>
         <% end %>
     		 <%= yield :main_content %>
       </div>
  	</div>
</div>
<%= render :partial => 'shared/footer' %>
</body>
</html>
